openrouter:
  api-key: AIzaSyA4dIEaPCnPtgMtD_cBDvapiAh5aG2X-NU
security:
  jwt:
    private-key: classpath:certs/private.pem
    public-key: classpath:certs/public.pem
    expiration-minutes: 3000
    refresh-expiration: 2592000
    expiration: 86400
application: { title: Integra,
               version: 1.0.1-Beta,
               api_name: integra,
               dev: "Pablo Reyes",
               description: "Servidor de aplicación backend, diseñado sin marca especifica de despliegue, por lo que los derechos de integración quedan sujetas al desarrollador",
               derechos: "© 2025 Pablo Reyes Lorenzo. Todos los derechos reservados." }
server:
  error:
    include-stacktrace: on_param
  port: 8081
  address: 0.0.0.0
  compression:
    enabled: true
    mime-types: text/html,text/css,text/plain,text/xml,application/javascript,application/json
  servlet:
    context-path: /comialex/api/${application.api_name}
    session:
      timeout: 21600s
spring:
  application:
    name: integra
  servlet:
    multipart:
      enabled: true
      max-file-size: 1GB       # Tamaño máximo por archivo
      max-request-size: 1GB    # Tamaño máximo de toda la petición (archivos + campos)
  config:
    activate:
      on-profile: dev
    import: classpath:app-config.yml
  jackson:
    time-zone: America/Mexico_City
    default-property-inclusion: non_null
  #    serialization:
  #      write-null-map-values: false
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/integra?useSSL=false
    username: root
    password: nova1912
    hikari:
      maximum-pool-size: 30
      connection-timeout: 60000  # 60 segundos
      idle-timeout: 600000       # 10 minutos
  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        default_schema: comialex
    #        format_sql: true
    show-sql: true
    open-in-view: false

logging: # Nivel global de logging
  level:
    integra.config.integra.config.cache.CacheConfig: DEBUG
    integra.service.integra.config.cache.CacheService: DEBUG
    integra.exception.integra.config.cache.CustomCacheErrorHandler: WARN
    root: INFO  # Nivel de log para la raíz de la aplicación
  #    com.comialex.helpdesk.ticket: DEBUG  # Nivel de log para un paquete específico

  # Formato del log en consola
  pattern:

    console: "%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n%throwable"

  # Configuración del archivo de logs
  file:
    name: logs/application.log  # Nombre del archivo de log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 100MB

  # Configuraciones adicionales como logs de excepciones
  exception-pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n%throwable"  # Imprimir el stack trace de excepciones en consola
    file: "%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n%throwable"  # Imprimir stack trace en archivo

integra:
  cache:
    specs:
      unidadInfo:
        expireAfterWrite: 5m
        maximumSize: 1000
        recordStats: true
        initialCapacity: 50
      unidadesActivas:
        expireAfterWrite: 2m
        maximumSize: 5000
        recordStats: true
        initialCapacity: 100
      unidadContacto:
        expireAfterWrite: 3m
        expireAfterAccess: 1m
        maximumSize: 2000
        recordStats: true
        initialCapacity: 50
      rolesPermisos:
        expireAfterWrite: 30d
        maximumSize: 100
        recordStats: true
        initialCapacity: 30

